<div class="container mt-5">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-2 d-none d-md-block">
      <%= render 'shared/sidebar' %>
    </div>

    <!-- Conteúdo principal -->

      <div class="p-4 mb-4">
      
        <!-- Título da Oração -->
        <h1 class="card-title text mb-4" style="font-size: 3.0rem; font-weight: bold; color: #2c3e50;"><%= @oracao.titulo %></h1>
        <hr>
        <!-- Conteúdo da Oração -->
        <br>
        <div class="card-text mb-4" style="font-size: 1.2rem; line-height: 1.6; color: #34495e;">
          <%= simple_format(@oracao.conteudo) %>
        </div>
        <hr>
        <br>
        <!-- Botões de Ação -->
        <div class="d-flex justify-content-end gap-2">
            <% if current_user.catequista? %>  
              <%= link_to 'Editar', edit_oracao_path(@oracao), class: 'btn btn-warning' %>
              <%= button_to 'Excluir', oracao_path(@oracao), method: :delete, data: { confirm: 'Tem certeza que deseja excluir esta oração?' }, class: 'btn btn-danger' %>
            <% end %>
          <%= link_to 'Voltar', oracoes_path, class: 'btn btn-secondary' %>
        </div>
      </div>
 
  </div>
</div>
