<div class="container mt-5">
  <%= form_with(model: aula, local: true) do |form| %>
    <!-- Exibição de erros -->
    <% if aula.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(aula.errors.count, "erro") %> impediu que a aula fosse salva:</h4>
        <ul>
          <% aula.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- Campo para o título da aula -->
    <div class="mb-3">
      <%= form.label :title, "Título da Aula", class: "form-label fw-bold" %>
      <%= form.text_field :title, class: "form-control form-control-underline", placeholder: "Digite o título da aula" %>
    </div>
        
    <!-- Campo para a descrição da aula -->
    <div class="mb-3">
      <%= form.label :content, "Descrição da Aula", class: "form-label fw-bold" %>
      <%= form.text_area :content, class: "form-control form-control-underline", rows: 4, placeholder: "Descreva brevemente a aula" %>
    </div>
  
     <!-- Campo para o conteúdo detalhado da aula com Trix Editor -->
    <div class="mb-3">
 
        <%= form.label :detailed_content, "Conteúdo Detalhado", class: "form-label fw-bold" %>
        <%= form.rich_text_area :detailed_content, class: "form-control form-control-underline", placeholder: "Descreva o conteúdo detalhado da aula" %>
    </div>

  <div class="mb-3">
    <%= form.label :image, "Imagem da Aula", class: "form-label" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>



    <!-- Botão de submissão -->
    <div>
      <%= form.submit "Salvar Aula", class: "btn btn-primary btn shadow-sm" %>
    </div>
  <% end %>
</div>



