<!-- Sidebar -->
<div class="col-md-2 d-none d-md-block">
  <%= render 'shared/sidebar' %>
</div>

<div class="container mt-5">
  <!-- Título da Aula -->
  <h1><%= @aula.title %></h1>
  <hr>

  <!-- Descrição da Aula -->
  <div class="content">
    <h5>Descrição</h5>
    <p><%= simple_format(@aula.content) %></p>
  </div>

  <!-- Conteúdo Detalhado da Aula -->
  <div class="content mt-4">
  <h5>Conteúdo Detalhado</h5>
  <%= @aula.detailed_content.body %>
</div>


  <!-- Botões de ação -->
  <div class="d-flex justify-content-start mt-4">
    <%= link_to 'Editar Aula', edit_aula_path(@aula), class: 'btn btn-warning me-2' %>
    <%= link_to 'Voltar para Aulas', aulas_path, class: 'btn btn-secondary' %>
  </div>
</div>
