    <%= render 'shared/sidebar' %>



<div class="container mt-5">
        <% content_for :title, "New ficha_cadastral" %>
          <h1>Cadastro do Catequisando</h1>
        <hr>
        <br>

    <%= form_with(model: @ficha_cadastral, local: true) do |form| %>
      <div class="form-group">
        <%= form.label :nome , class: "form-label fw-bold" %>
        <%= form.text_field :nome, class: "form-control form-control-underline", placeholder: "Edite o nome do catequisando" %>
      </div>

        <div class="mb-3">
            <%= form.label :email,  "E-mail", class: "form-label fw-bold" %>
            <%= form.text_field :email,  class: "form-control form-control-underline", placeholder: "Edite o e-mail do catequisando" %>
        </div>

      <div class="mb-3">
        <%= form.label :endereco ,  "Endereço", class: "form-label fw-bold" %>
        <%= form.text_field :endereco, class: "form-control form-control-underline", placeholder: "Edite o endereço do catequisando" %>
      </div>

     <div class="mb-3">
        <%= form.label :data_nascimento,  "Data de Nascimento", class: "form-label fw-bold" %>
        <%= form.date_select :data_nascimento, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :telefone , "Endereço", class: "form-label fw-bold" %>
        <%= form.telephone_field :telefone, class: "form-control form-control-underline", placeholder: "(xx) xxxxx-xxxxx" %>
      </div>

      <div class="container mt-5">
        <%= form.submit 'Atualizar Ficha',   class: "btn btn-primary" %>
        <div>
        <br>
        <%= link_to "Voltar para Gerenciador", ficha_cadastrals_path, style: "color: #343a40;" %>
        </div>
      </div>
   
   
    <% end %>
  </div>



   