<!-- Sidebar -->
<div class="col-md-2 d-none d-md-block">
  <%= render 'shared/sidebar' %>
</div>
 
<div class="container-fluid mt-5">
  <div class="col-md-10 offset-md-2">
    <header class="page-header">
        <h1 class="page-title">Gerenciar Fichas Cadastrais</h1>
    </header>

   <div class="mb-3 text-center">
      <%= link_to new_ficha_cadastral_path, class: 'btn btn-success' do %>
          <i class="fas fa-plus"></i> Novo Cadastro
      <% end %>
   </div>
    <br>

    <!-- Envolver a tabela em um div com altura fixa e overflow -->
    <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Catequista</th>
            <th>Endereço</th>
            <th>Data de Nascimento</th>
            <th>Telefone</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% if @ficha_cadastrals.present? %>
            <% @ficha_cadastrals.each do |ficha| %>
              <tr>
                <td><%= ficha.nome %></td>
                <td><%= ficha.email %></td>
                <td><%= ficha.catequista&.email || "Sem catequista" %></td>
                <td><%= ficha.endereco %></td>
                <td><%= ficha.data_nascimento %></td>
                <td><%= ficha.telefone %></td>
                <td>
                  <div class="d-flex gap-2">
                    <%= link_to 'Editar', edit_ficha_cadastral_path(ficha), class: 'btn btn-warning' %>
                    <%= button_to 'Excluir', ficha_cadastral_path(ficha), method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger' %>
                  </div>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="5">Nenhum registro encontrado.</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div> <!-- Fim do div com scroll -->

  </div>    
</div>
