<!-- app/views/shared/_sidebar.html.erb -->
     <div class="col-md-2 sidebar">
      <div class="logo mb-4 text-center">
<%= image_tag "info2.png", alt: "Logotipo", class: "img-fluid logo-small" %>
      </div>
      <ul class="nav flex-column">
        <li class="nav-item">
          <%= link_to 'Página Inicial', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Aulas', aulas_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Postagens', postagens_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Mensagens', mensagens_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>