<div class="container mt-5">
  <h1 class="mb-4">Postagens</h1>

  <% @postagens.each do |postagem| %>
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title"><%= postagem.title %></h5>
        <p class="card-text"><%= postagem.content.truncate(150) %></p>
        <p class="text-muted">Postado por <%= postagem.user.email %> em <%= postagem.created_at.strftime("%d/%m/%Y") %></p>
        <%= link_to 'Ver Postagem', postagem_path(postagem), class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
