<div class="container-fluid mt-5">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-2 d-none d-md-block">
      <%= render 'shared/sidebar' %>
    </div>

    <!-- Conteúdo principal -->
    <div class="col-md-8 offset-md-0">
      <header class="page-header">
        <h1 class="page-title">Postagens</h1>
      </header>

       <div class="mb-3 text-center">
        <%= link_to new_postagem_path, class: 'btn btn-success' do %>
          <i class="fas fa-plus"></i> Nova Postagem
        <% end %>
      </div>


      <div class="row card-container">
        <% @postagens.each do |postagem| %>
          <div class="col-md-12 mb-4"> <!-- Agora cada card ocupa a largura total -->
            <div class="card h-100" style="max-height: 400px; overflow-y: auto;">
              <div class="card-body position-relative">
                
                <!-- Ícones de edição e exclusão na parte superior direita -->
                <% if postagem.user == current_user %>
                  <div class="position-absolute" style="top: 10px; right: 10px;">
                    <%= link_to edit_postagem_path(postagem), class: 'text-primary me-2' do %>
                      <i class="fas fa-edit"></i>
                    <% end %>

                    <%= button_to postagem_path(postagem), method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: 'btn btn-link text-text-primary p-0', form: { class: 'd-inline' } do %>
                      <i class="fas fa-trash-alt"></i>
                    <% end %>
                  </div>
                <% end %>

                <h5 class="card-title"><%= postagem.title %></h5>
                <p class="card-text"><%= postagem.content.truncate(150) %></p>
                <p class="text-muted">
                  Postado por <%= postagem.user.email %> em <%= postagem.created_at.strftime("%d/%m/%Y") %>
                </p>
                <%= link_to 'Ver Postagem', postagem_path(postagem), class: 'btn btn-primary' %>
              </div>

              <!-- Seção de Comentários -->
              <div class="comments mt-3">
                <% if postagem.comentarios.any? %>
                  <% postagem.comentarios.each do |comentario| %>
                    <div class="mb-4 p-3 border rounded bg-light">
                      <strong class="text-primary"><%= comentario.user.email %>:</strong>
                      <p class="mt-2"><%= comentario.content %></p>

                      <!-- Links de edição e exclusão para o autor do comentário -->
                      <% if comentario.user == current_user %>
                        <%= link_to edit_postagem_comentario_path(postagem, comentario), class: 'text-warning me-2' do %>
                          <i class="fas fa-edit"></i>
                        <% end %>

                        <%= button_to postagem_comentario_path(postagem, comentario), method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: 'btn btn-link text-danger p-0', form: { class: 'd-inline' } do %>
                          <i class="fas fa-trash-alt"></i>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                <% else %>
                        <p class="text-muted text-center mb-4">  Ainda não há comentários nesta postagem.</p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Banner Postagem -->
    <%= render 'shared/banner_postagem' %>
  </div>
</div>
