<div class="container mt-5">
  <div class="row">
    
    <!-- Include do partial da sidebar à esquerda -->
    <div class="col-md-2 d-none d-md-block">
      <%= render 'shared/sidebar' %>
    </div>

    <!-- Conteúdo principal ajustado -->
    <div class="col-md-10 offset-md-2 col-sm-12">
      
      <!-- Texto com espaçamento aumentado e design elegante -->
      <div class="text-center mb-5 p-5" style="background-color: #f8f9fa; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <h1 class="display-4" style="font-weight: bold; color: #34495e;"><%= @message %></h1>
        <p class="lead">
          O CateqApp é a sua plataforma digital de apoio à catequese. Aqui, você encontrará recursos essenciais para aprimorar o ensino religioso, organizar aulas, acompanhar postagens e se conectar com catequistas e catequizandos. Nossa missão é facilitar o aprendizado e promover a fé de maneira acessível e moderna. Explore nossas funcionalidades e prepare-se para uma jornada enriquecedora de formação espiritual.
        </p>
      </div>

      <hr class="my-5">

      <div class="row">
        
  
        <div class="col-md-6 text-center mb-4" style="background-color: #ffffff; padding: 20px; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); transition: transform 0.3s ease;">
           <%= image_tag "imagem2.gif", alt: "Imagem Catequese 1", class: "img-fluid mb-4", style: "width: 100%; border-radius: 15px;" %>
        </div>


        <!-- Coluna para links estilizados -->
        <div class="col-md-6 text-center" style="background-color: #ffffff; padding: 20px; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); transition: transform 0.3s ease;">
          <ul class="list-unstyled">
            <li class="mb-3">
              <%= link_to 'Orações', aulas_path, class: 'text-decoration-none  h4', style: "transition: color 0.3s ease;" %>
            </li>
            <li class="mb-3">
              <%= link_to 'Curiosidades', postagens_path, class: 'text-decoration-none  h4', style: "transition: color 0.3s ease;" %>
            </li>
            <li class="mb-3">
              <%= link_to 'Datas em Destaque', mensagens_path, class: 'text-decoration-none  h4', style: "transition: color 0.3s ease;" %>
            </li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</div>