<!-- Sidebar -->
<div class="col-md-2 d-none d-md-block">
  <%= render 'shared/sidebar' %>
</div>

<div class="container mt-5">
  <h1 class>Bem-vindo, <%= current_user.email %>!</h1>

 <hr>
 <br>
    <div class="card-header">
      <h3>Ficha Cadastral</h3>
    </div>

    <div class="card-body">
      <% if @ficha_cadastral.present? %>
        <p><strong>Nome:</strong> <%= @ficha_cadastral.nome %></p>
        <p><strong>Email:</strong> <%= @ficha_cadastral.email %></p> <!-- Campo de email da ficha cadastral -->
        <p><strong>Endereço:</strong> <%= @ficha_cadastral.endereco %></p>
        <p><strong>Data de Nascimento:</strong> <%= @ficha_cadastral.data_nascimento %></p>
        <p><strong>Telefone:</strong> <%= @ficha_cadastral.telefone %></p>

        <% if current_user.catequista? %>
          <!-- Exibe o botão de edição apenas para o catequista -->
          <%= link_to 'Editar Ficha Cadastral', edit_ficha_cadastral_path(@ficha_cadastral), class: 'btn btn-warning' %>
        <% end %>
      
      <% else %>
        <!-- Exibe mensagem e botão para criar ficha se não houver uma existente -->
        <p>Você ainda não preencheu sua ficha cadastral.</p>

        <% if current_user.catequista? %>
          <!-- Exibe botão para preencher ficha, apenas para catequista -->
          <%= link_to 'Preencher Ficha Cadastral', new_ficha_cadastral_path, class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </div>
 
</div>
