<!-- Sidebar -->
<div class="col-md-2 d-none d-md-block">
  <%= render 'shared/sidebar' %>
</div>
<div class="container mt-5">
  <h1 class="text-center">Bem-vindo, <%= current_user.email %>!</h1>
  <div class="card mb-4">
    <div class="card-header">
      <h3>Ficha Cadastral</h3>
    </div>
    <div class="card-body">

   
        <p><strong>Nome:</strong> <%= current_user.ficha_cadastral.nome %></p>
        <p><strong>Endereço:</strong> <%= current_user.ficha_cadastral.endereco %></p>
        <p><strong>Data de Nascimento:</strong> <%= current_user.ficha_cadastral.data_nascimento %></p>
        <p><strong>Telefone:</strong> <%= current_user.ficha_cadastral.telefone %></p>
        <p><strong>Faltas:</strong> <%= current_user.ficha_cadastral.faltas %></p>
        <p><strong>Nota de Desempenho:</strong> <%= current_user.ficha_cadastral.nota_desempenho %></p>

        <% if current_user.catequista? %>
          <!-- Exibe o botão de edição apenas para o catequista -->
          <%= link_to 'Editar Ficha Cadastral', edit_ficha_cadastral_path(current_user.ficha_cadastral), class: 'btn btn-warning' %>
        <% end %>
      <% else %>
        <!-- Exibe botão para preencher ficha, apenas para catequista -->
        <% if current_user.catequista? %>
          <%= link_to 'Preencher Ficha Cadastral', new_ficha_cadastral_path, class: 'btn btn-primary' %>
        <% end %>
   
    </div>
  </div>
</div>
